@tailwind base;
@tailwind components;
@tailwind utilities;

.container-slider {
    overflow-x: hidden;
}

.container-partner,
.container-cats-list {
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
    animation: slide 46s linear infinite;
}

.wraper,
.wraper-cats-list {
    margin: 0 1rem;
    flex-shrink: 0;
    display: flex;
    gap: 16px;
}

.layout-gallery {
    display: grid;
    grid-template-areas: "head head head body foot";
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@media (max-width: 480px) {
    .layout-gallery {
        display: grid;
        grid-template-areas: "head";
    }
}
