@tailwind base;
@tailwind components;
@tailwind utilities;

.container-partner {
    width: 100%;
    /* background-color: aqua; */
    height: 32rem;
    overflow-x: hidden;
    position: relative;
}

.wraper {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    /* transition: 0.9s ease-in-out; */
    animation: slide 20s infinite alternate;
}

@keyframes slide {
    0% {
        left: 50%;
    }
    90% {
        left: 0%;
    }
}
